mat-card {
  max-width: 100%;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  background-color: #5b5b5bde;
}

h2{
  text-align: left;
  padding-top: 1%;
  padding-left: 3%;
}

a{
  padding-left: 1%;
}
